@charset "utf-8";
@use "variables" as *;
@use "mixins" as *;

html {
  transition: opacity 0.3s ease;
  opacity: 1;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;

  @include desktop {
    font-size: 625%;
  }

  @include mobile {
    min-height: 100vh;
    font-size: calc(100vw / 4.3);
  }
}

body {
  transition: opacity 0.3s ease;
  background-color: #fff;
  color: $color-default;
  font-family: $font-sans;
  line-height: $line-height;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  @include desktop {
    font-size: $font-size-pc;
    font-weight: $font-weight-pc;
  }

  @include mobile {
    @include scroll-hidden;

    font-size: $font-size-sp;
    font-weight: $font-weight-sp;
    line-height: 1.6;
  }
}

strong {
  font-weight: bold;
}

.hidden {
  display: none;
}

.trans {
  transition: opacity 0.3s ease;
  opacity: 1;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.is-load {
  opacity: 0;

  html.is-visible & {
    opacity: 1;
  }
}

.image-common {
  display: block;
  width: 100%;
}

.object-common {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  color: $color-default;
}

.container {
  @include desktop {
    max-width: 100%;
  }

  @include mobile {
    min-width: 3.2rem;
  }
}

.wrapper {
  @include desktop {
    width: 100%;
    max-width: $wrapper-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0.2rem;
  }

  @include mobile {
    padding-right: 0.24rem;
    padding-left: 0.24rem;
  }
}

.sm {
  @include desktop {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

.md {
  @include mobile {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

@font-face {
  font-family: 'AkkuratLLSub';
  src: url('../fonts/AkkuratLLSub-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkkuratLLSub';
  src: url('../fonts/AkkuratLLSub-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.ft-akkurat {
  font-family: 'AkkuratLLSub', sans-serif;
}