@charset "utf-8";
@use "variables" as *;

@mixin desktop {
  @media print, (min-width: $sm-break + .02) {
    @content;
  }
}

@mixin tablet {
  @media print, (min-width: $sm-break + .02) and (max-width: $md-break) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $sm-break) {
    @content;
  }
}

@mixin mobile-xs {
  @media only screen and (max-width: $xs-break) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin text-wrap {
  word-break: break-word;
}

@mixin text-ellipse($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin scroll-hidden {
  &::-webkit-scrollbar {
    width: 0;
    opacity: 0;
  }
}

@mixin scroll-auto-x {
  overflow: auto hidden;
}

@mixin scroll-auto-y {
  overflow: hidden auto;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-ms-input-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
