@charset "utf-8";
@use "base/base" as *;

.header {
  // background-color: #fff;
  // background: $color-gradient;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
  mix-blend-mode: difference;
  &.is-sticky {
    background-color: transparent;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    width: 80px;
    color: #fff;
    p {
      font-size: 24px;
      white-space: nowrap;
      // padding-left: 16px;
      font-weight: bold;
      // margin-top: -9px;
      line-height: 1;
    }
  }

  .header-navigation {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .list-navbar {
    display: flex;
    align-items: center;
    gap: 16px;
    a {
      color: #fff;
      padding: 10px 0;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 1px solid #fff;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s ease;
      }
  
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .job-list-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #000;
    padding: 0 20px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 40px;
    font-size: 14px;
    transition: all .3s ease;
    mix-blend-mode: unset;
    position: relative;
    transition: all .3s ease;
    &:hover {
      background-color: rgba(255, 255, 255, .6);
    //   border-color: #fff;
    //   color: #fff;
      // background: $color-gradient;
    }
  }

  .header-lang {
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    background: url('../img/common/icon_lang.svg') left center/18px auto no-repeat;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 10px;
      background: url('../img/common/arrow_down.svg') center/contain no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}