footer.footer
  .wrapper
    a.footer-logo(href="#") 
      img(src=path+"/img/common/footer_logo.svg", alt="RAKSUL VIETNAM")
      p RAKSUL
        br
        | VIETNAM
    ul.footer-list.ft-akkurat
      li
        a.item-label(href="#") About
      li
        p.item-label Vision
        ul.footer-sub-list
          li
            a(href="#") Culture
          li
            a(href="#") Offices
          li
            a(href="#") Benefits
      li
        a.item-label(href="#") Services
      li
        a.item-label(href="#") Career
      li
        a.item-label(href="#") Events
      li
        p.item-label Contact Us
        ul.footer-sub-list
          li
            i.fa-solid.fa-phone
            p
              strong +028 2211 0621
          li
            i.fa-solid.fa-envelope
            p
              span sample@gmail.com
          li
            i.fa-solid.fa-location-dot
            p
              span 34th Floor, Lim Tower 1
                br
                | 9-11 Ton Duc Thang
                br
                | Ben Nghe Ward, District 1,
                br
                | Ho Chi Minh City
          //- li
          //-   iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1959.6924953798393!2d106.706188!3d10.781797!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4ec96fae79%3A0xda53c6fa6c52539a!2sLim%20Tower!5e0!3m2!1sen!2sus!4v1730032434280!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

    .footer-copyright
      p.copyright-text Copyright © 2024 RAKSUL INC. All Rights Reserved.
      ul.footer-social
        li.social-facebook
          i.fa-brands.fa-facebook-f
        li.social-youtube
          i.fa-brands.fa-youtube
        li.social-linkedin
          i.fa-brands.fa-linkedin
