header.header
  .wrapper
    a.header-logo(href="#")
      img(src=path+"/img/common/header_logo.svg", alt="RAKSUL VIETNAM")
      p RAKSUL
        br
        | VIETNAM
    nav.header-navigation
      ul.list-navbar.ft-akkurat
        li
          a(href="#") About
        li
          a(href="#") Vision
        li
          a(href="#") Services
        li
          a(href="#") Career
        li
          a(href="#") Events
      a.job-list-button(href="#") Jobs List
      ul.header-lang
        li ENG
          
