
@use "base/base" as *;
@use "parts/header";
@use "parts/footer";

.common-button {
  display: inline-flex;
  min-width: 140px;
  height: 40px;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  transition: all .2s ease;
  position: relative;
  overflow: hidden;
  &.is-black {
    border-color: #000;
    color: #000;
    &:hover {
      color: #fff;
    }
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40px;
    background: $color-gradient;
    width: 0;
    transition: all .2s ease;
    pointer-events: none;
    z-index: -1;
  }
  &:hover {
    border-color: transparent;
    &::before {
      width: 100%;
    }
  }
}

.common-title {
  position: relative;
  font-size: 60px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 4px;
    background: $color-gradient;
  }

  &.is-center {
    text-align: center;
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-top-keyvisual {
  height: calc(100vh - 80px);
  position: relative;
  .keyvisual-swiper {
    overflow: hidden;
    position: relative;
  }

  .keyvisual-swiper,
  .swiper-container {
    height: 100%;
  }

  .swiper-item,
  video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .has-bg {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to right, rgba(0,0,0, .5), transparent);
      z-index: 1;
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // transform: scale(1.1);
    transform-origin: center;
    pointer-events: none;
  }

  .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    max-width: 1480px;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    padding-left: 20px;
    color: #fff;
    z-index: 11;
  }

  .detail-title {
    font-size: 50px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  .detail-text {
    margin-bottom: 20px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-horizontal > .swiper-pagination-bullets {
    max-width: 1440px;
    text-align: left;
    margin: 0 auto;
    left: 50%;
    padding-bottom: 50px;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: #fff;
      opacity: .5;
      transition: all .3s ease;
      margin: 0 8px !important;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        left: -4px;
        top: -4px;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: 0;
        transition: all .3s ease;
      }

      &.swiper-pagination-bullet-active {
        background: $color-gradient;
        position: relative;
        opacity: 1;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.section-top-vision {
  padding: 60px 0 100px;
  color: #000;

  .vision-title {
    font-size: 28px;
  }

  .vision-inner {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 60px;
  }

  img {
    transition: all .3s ease;
  }

  .vision-content {
    flex: 1;
  }
  
  .vision-image {
    width: 60%;
    position: relative;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 24px;
      top: 24px;
      background-color: lightgray;
      z-index: -1;
      opacity: .5;
    }
  }

  .image-wrapper {
    overflow: hidden;
  }

  .vision-description {
    margin: 30px 0;
    p {
      margin: 12px 0;
    }
  }
}

.section-top-about {
  overflow: hidden;
  padding: 80px 0 120px;
  .about-list {
    display: flex;
    margin-left: -84px;
    margin-right: -70px;
    margin-top: 80px;;
  }

  .about-item {
    width: calc(33.33% + 2px);
    transition: all .5s;
    transform: skewX(-15deg);
    overflow: hidden;
    margin: 0 -1px;
    &:hover {
      width: calc(50% + 2px);
      a {
        filter: grayscale(0%);
      }
      .item-text {
        background-color: rgba(0,0,0,.2);
        span {
          background: linear-gradient(to right, #00aaff, #7a00ff, #ff007a, #ffb300);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: bold;
          font-size: 32px;
        }
      }
    }

    span {
      font-size: 22px;
      transition: all .3s ease;
      letter-spacing: .2em;
    }

    small {
      font-size: 18px;
      margin-top: 8px;
      line-height: 1.13;
    }

    a {
      display: flex;
      margin-left: -50px;
      margin-right: -50px;
      color: #fff;
      transform: skewX(15deg);
      min-height: 351px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      filter: grayscale(1);
      background-size: cover;
      background-position: center;
    }
  }

  .item-text {
    background-color: rgba(0,0,0,.35);
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
  }

  .item-text {
    padding-bottom: 9px;
  }

  .item-culture {
    padding-left: 98px;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: calc(100% - 133px);
      height: 100%;
      background: url('https://recruit.raksul.com/wp-content/uploads/2022/12/culture_mv-scaled.jpg') center/cover no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  .item-offices {
    background-image: url('https://recruit.raksul.com/wp-content/uploads/2022/12/office_mv-scaled.jpg');
    .item-text {
      padding-left: 6px;
    }
  }

  .item-benefits {
    padding-left: 0;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: calc(100% - 122px);
      height: 100%;
      background: url('https://recruit.raksul.com/wp-content/uploads/2022/12/benefits_mv-scaled.jpg') center/cover no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
}

// .section-top-vision {
//   padding: 60px 0 100px;
//   color: #000;

//   .vision-title {
//     font-size: 28px;
//   }

//   .vision-inner {
//     display: flex;
//     align-items: center;
//     gap: 80px;
//     margin-top: 40px;
//     text-align: center;
//   }

//   .vision-content {
//     width: 50%;
//     text-align: left;
//     margin: 0 auto;
//   }

//   .vision-image {
//     position: relative;
//     max-width: 70%;
//     margin: 60px auto;
//     &:hover {
//       img {
//         transform: scale(1.1);
//       }
//     }
    
//     &::before {
//       content: '';
//       display: block;
//       width: 100%;
//       height: 100%;
//       position: absolute;
//       left: 24px;
//       top: 24px;
//       background-color: lightgray;
//       z-index: -1;
//       opacity: .5;
//     }

//     img {
//       transition: all .3s ease;
//     }
//   }

//   .image-wrapper {
//     overflow: hidden;
//   }

//   .vision-description {
//     margin: 30px 0;
//     p {
//       margin: 12px 0;
//     }
//   }
// }

.section-top-services {
  margin: 80px 0;
  & ~ section {
    margin: 80px 0;
  }
}